html {
    --warna-satu: #12afbb;
    --warna-dua: #444444;
}

body {
    padding: 0;
    margin: 0;
}

.flooter-button {
    width: 23px;
    height: 23px;
    background-color: rgb(100, 100, 100, 100);
    position: fixed;
    border-radius: 50%;
    top: 12px;
    left: 12px;
}

.about-img {
    width: auto;
    height: 100%;
    position: relative;
    margin-bottom: 50%;
    margin-top: -10%;
    margin-left: 9%;
}

.about-text {
    position: absolute;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    height: auto;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background: #efdefe;
}

.two {
    background: #a3f3d3;
}

.three {
    background: #0bbaa0;
}

.four {
    background: #00dfdf;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    scrollbar-width: none;
    display: inline-block;
    -ms-overflow-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}


/* width */

::-webkit-scrollbar {
    display: none;
}